atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.2
glumpy==1.1.0
kiwisolver==1.0.1
matplotlib==3.0.3
more-itertools==5.0.0
numpy==1.16.2
opencv-python==4.1.0.25
Pillow==8.3.2
pluggy==0.8.1
py==1.7.0
pygame==2.0.0.dev2
PyOpenGL==3.1.0
pyparsing==2.3.1
pytest==4.1.1
python-dateutil==2.8.0
scipy==1.2.1
six==1.11.0
triangle==20190115.2
